body {
  margin: 0;
}
.bg-box {
  background: url("/png/lamp.ico") top repeat-x,
    url("/png/green.ico") bottom repeat-x,
    url("/png/jjj\ \(6\).webp") repeat-y left,
    url("/png/donats1.png") repeat-y right,
    url(https://img.goodfon.ru/wallpaper/big/0/5b/pole-zelen-trava-dom-derevya.jpg)
      center no-repeat;
  background-color: green;
  width: 100vw;
  height: 100vh;
}
